*{
    font-family: Georgia;
    font-weight: 100;
    font-size: 30px;
}

.caja{
    margin: 25px;
    width: 300px;
    height: 500px;
}

.caja img{
    width: 100%;
    height: 100%;
    border: 2px solid black;
    object-fit: contain;
}

.caja1{
    margin: 25px;
    width: 300px;
    height: 500px;
}

.caja1 img{
    width: 100%;
    height: 100%;
    border: 2px solid black;
    object-fit: cover;
}

.caja2{
    margin: 25px;
    width: 300px;
    height: 500px;
}

.caja2 img{
    width: 100%;
    height: 100%;
    border: 2px solid black;
    object-fit: none;
}

.caja3{
    margin: 25px;
    width: 500px;
    height: 500px;
}

.caja3 img{
    width: 100%;
    height: 100%;
    border: 2px solid black;
    object-fit: scale-down;
}
