*{
    font-family: Georgia;
    font-weight: 100;
    font-size: 30px;
}

h2 {

    background-color:aquamarine ;
    display: inline-block;
    padding: 50px;
    box-sizing: border-box;
    text-align: center;
    margin: 20px 10px;
    border-radius: 30px ;
    border: 5px solid black;
    box-shadow: 2px 4px 15px 0 #000;
    text-shadow: 2px 2px 7px red;
    transform: rotate(45deg);
}






